{% extends "base.html" %}
{% block head %}

    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/reviews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/admin_styles.css') }}">
    
{% endblock %}

{% block header %}
<div class="header header__index">
    <div class="header_content">
        <a href="/">
            <img src="{{ url_for('static', path='img/aurora_logo_2x.png') }}" class="header_logo" draggable="false">
        </a>
        <div class="header__index__content">
            <div class="header__index__left">
                <h2>+7 (495) 524-12-97</h2>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block content %}
<div id="complaint-modal__overlay">
    <div class="complaint-modal__container">
        <span class="complaint-modal__close-btn" onclick="closeComplaintModal()">&times;</span>
        <h2 class="complaint-modal__title">Подача жалобы</h2>
        <form method="post" action="/complaint" id="complaint-modal__form">
            <div class="complaint-modal__input-group">
                <label class="complaint-modal__label" for="complaint-username">Ваше имя</label>
                <input type="text" 
                       class="complaint-modal__input" 
                       id="complaint-username" 
                       name="complaint-username" 
                       required>
            </div>
            <div class="complaint-modal__input-group">
                <label class="complaint-modal__label" for="complaint-description">Описание проблемы</label>
                <textarea class="complaint-modal__input complaint-modal__textarea" 
                          id="complaint-description" 
                          name="complaint-description" 
                          required></textarea>
            </div>
            <button type="submit" class="complaint-modal__submit">Отправить жалобу</button>
        </form>
    </div>
</div>
    <!--<input id="datepicker"/>-->
    <div class="block__top">
        <div class="block__top__content">
            <div class="block__top__content__text" data-aos="fade-up" data-aos-duration="1000">
                <h1>Гостиничный<br> комплекс</h1>
                <a href="rooms" data-aos="fade-up" data-aos-duration="3000">
                    <button>Описание номеров</button>
                </a>
            
            </div>
            <div class="block__top__datepick" data-aos="fade-up" data-aos-duration="1000">
                <div class="datepicker-container">
                    <div class="date-input">
                        <!--<label for="start-date">Заезд</label>-->
                        <input type="text" id="start-date" class="flatpickr-input" placeholder="Выберите дату">
                    </div>
                    <div class="date-input">
                        <!--<label for="end-date">Выезд</label>-->
                        <input type="text" id="end-date" class="flatpickr-input" placeholder="Выберите дату">
                    </div>
                </div>
                <button class="book-btn" id="check_booking">Забронировать</button>
            </div>
        </div>
    </div>
    <div class="block__mid">
        <div class="block__mid__content">
            <div class="block__mid__card" data-aos="fade-up" data-aos-duration="1000">
                <div class="block__mid__card__img">
                    <img src="{{ url_for('static', path='svg/24h_svg.svg') }}">
                </div>
                <div class="block__mid__card__text">
                    <h2>Круглосуточный режим работы</h2>
                    <h5>Рады вас видеть в любое время</h5>
                </div>
            </div>
            <div class="block__mid__card" data-aos="fade-up" data-aos-duration="1000">
                <div class="block__mid__card__img">
                    <img src="{{ url_for('static', path='svg/coffee_svg.svg') }}">
                </div>
                <div class="block__mid__card__text">
                    <h2>В шаговой доступности</h2>
                    <h5>Различные рестораны и кафе.ilПатио, Вкусно и точка, Сши вок, гипермаркет, Глобус и другие.</h5>
                </div>
            </div>
            <div class="block__mid__card" data-aos="fade-up" data-aos-duration="1000">
                <div class="block__mid__card__img">
                    <img src="{{ url_for('static', path='svg/wifi_svg.svg') }}">
                </div>
                <div class="block__mid__card__text">
                    <h2>Бесплатный Wi-Fi</h2>
                    <h5>Бесплатный скоростной интернет доступен на всей территории</h5>
                </div>
            </div>
            <div class="block__mid__card" data-aos="fade-up" data-aos-duration="1000">
                <div class="block__mid__card__img">
                    <img src="{{ url_for('static', path='svg/tree_svg.svg') }}">
                </div>
                <div class="block__mid__card__text">
                    <h2>Интересные достопримечательности</h2>
                    <h5>В непосредственной близости от нас располагаются парки и усадьбы, где можно с удовольствием прогуляться</h5>
                </div>
            </div>
            <div class="block__mid__card" data-aos="fade-up" data-aos-duration="1000">
                <div class="block__mid__card__img">
                    <img src="{{ url_for('static', path='svg/parking_svg.svg') }}">
                </div>
                <div class="block__mid__card__text">
                    <h2>Бесплатная парковка</h2>
                    <h5>Для гостей доступна бесплатная парковка на территории</h5>
                </div>
            </div>
            <div class="block__mid__card" data-aos="fade-up" data-aos-duration="1000">
                <div class="block__mid__card__img">
                    <img src="{{ url_for('static', path='svg/map_svg.svg') }}">
                </div>    
                <div class="block__mid__card__text">
                    <h2>Удобное месторасположение</h2>
                    <h5>Мы располагаемся в самом центре города и до нас удобно добираться</h5>
                </div>
            </div>
        </div>

        <div class="reviews__block" data-aos="fade-up" data-aos-duration="1000">
            <h1>Отзывы</h1>
            <div class="reviews__content" style="
    flex-direction: row;
">
                {% for i in range(reviews | length) %}
                    <div class="review__card">
                        <h4>{{ reviews[i]["created_at"] }}</h4>
                        <div class="rating_review">
                        <div class="rating_review">
                        {% for s in range(0, reviews[i]["grade"]) %}
                            <span class="active">★</span>
                        {% endfor %}
                        {% for s in range(reviews[i]["grade"], 5) %}
                            <span>★</span>
                        {% endfor %}
                    </div>
                        </div>
                        <h2>{{ reviews[i]["username"] }}</h2>
                        <p>{{ reviews[i]["comment"] }}</p>
                    </div>
                {% endfor %}
            </div>
            <a href="/reviews">Все отзывы ></a>
        </div>

        <div class="map__block">
             <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A10e0d660e2ff56cefc54afaadffab2cb021be8d8b6118db6175f855f0126739e&amp;source=constructor" 
                width="100%" 
                height="360" 
                frameborder="0">
            </iframe>
            <div class="map__block__info__block">
                <div class="map__block__info">
                    <div class="footer__content__left">
                        <div class="footer__content__left__text">
                            <h2>Контакты</h2>
                            <h5>г. Балашиха, ул. Разина, д. 2к1</h5>
                            <h5>info@aurora-sgk.ru</h5>
                            <h5>+7 (495) 524-12-97</h5>
                            <a onclick="openComplaintModal()">Оставить жалобу</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
    </div>
{% endblock %}
{% block footer %}
<script src="{{ url_for('static', path='../static/scripts/index.js') }}"></script>
    <div class="footer" style="
    height: 250px;
">
        <div class="footer__content" style="height: 250px;align-items: center;justify-content: center;">
            <img src="{{ url_for('static', path='img/aurora_logo.png') }}" class="footer_logo" draggable="false">
        </div>
    </div>
{% endblock %}