{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='styles/reviews.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/admin_styles.css') }}">
{% endblock %}
{% block header %}
<div class="header">
    <div class="header_content">
        <a href="/">
            <img src="{{ url_for('static', path='img/aurora_logo.png') }}" class="header_logo" draggable="false">
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="complaint-modal__overlay">
    <div class="complaint-modal__container">
        <span class="complaint-modal__close-btn" onclick="closeComplaintModal()">&times;</span>
        <h2 class="complaint-modal__title">Подача жалобы</h2>
        <form method="post" action="/complaint" id="complaint-modal__form">
            <div class="complaint-modal__input-group">
                <label class="complaint-modal__label" for="complaint-username">Ваше имя</label>
                <input type="text" 
                       class="complaint-modal__input" 
                       id="complaint-username" 
                       name="complaint-username" 
                       required>
            </div>
            <div class="complaint-modal__input-group">
                <label class="complaint-modal__label" for="complaint-description">Описание проблемы</label>
                <textarea class="complaint-modal__input complaint-modal__textarea" 
                          id="complaint-description" 
                          name="complaint-description" 
                          required></textarea>
            </div>
            <button type="submit" class="complaint-modal__submit">Отправить жалобу</button>
        </form>
    </div>
</div>
<div class="back__room__page"></div>
    <div class="block__top rooms__page">
        <div class="rooms__top__content">
            <h1>Отзывы</h1>
            <svg width="43" height="13" viewBox="0 0 43 13" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 50px;">
                <path d="M2 3L8.5 10.5L15 3L21.5 10.5L28 3L34.5 10.5L41 3" stroke="black" stroke-width="3"/>
                </svg>
        </div>
    </div>
<div class="reviews__block__content">
    <div class="reviews__block">
        <div class="reviews__content" style="
    gap: 0px;
">
            {% for i in range(reviews | length) %}
                <div class="review__card" data-aos="fade-up" data-aos-duration="1000">
                    <h4>{{ reviews[i]["created_at"] }}</h4>                    
                    <div class="rating_review">
                        {% for s in range(0, reviews[i]["grade"]) %}
                            <span class="active">★</span>
                        {% endfor %}
                        {% for s in range(reviews[i]["grade"], 5) %}
                            <span>★</span>
                        {% endfor %}
                    </div>

                    <h2>{{ reviews[i]["username"] }}</h2>
                    <p>{{ reviews[i]["comment"] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="review__form__block" data-aos="fade-up" data-aos-duration="1000">
        <div class="review__from__block__content">
            <h2>Написать отзыв</h2>
            <form method="post" class="review__form" action="/reviews">
                <div class="input__row">
                    <label for="name">Ваше имя *</label>
                    <input type="text" id="name" required name="username">
                </div>
                <div class="input__row">
                    <label for="email">Email *</label>
                    <input type="text" id="email" required name="email">
                </div>
                <div class="input__row">
                    <label for="rating">Оценка *</label>
                    <div class="rating">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div>
                    <input hidden id="grade" name="grade" required>
                </div>
                <div class="input__row textarea_row">
                    <label for="comment">Сообщение *</label>
                    <textarea name="comment" id="comment"></textarea>
                </div>
                <div class="submit__block__row">
                    <div class="person__data__row">
                        <input type="checkbox" required>
                        <p>Я согласен на обработку персональных данных</p>
                    </div>
                    <div class="submit__row">
                        <button>Отправить</button>
                        <p>* Поля, обязательные к заполнению</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="{{ url_for('static', path='scripts/reviews.js') }}"></script>
    <script src="{{ url_for('static', path='scripts/index.js') }}"></script>

{% endblock %}
{% block footer %}
    <div class="footer" style="
    height: 250px;
">
        <div class="footer__content" style="height: 250px;align-items: center;justify-content: center;">
            <img src="{{ url_for('static', path='img/aurora_logo.png') }}" class="footer_logo" draggable="false">
        </div>
    </div>
{% endblock %}